<configuration>
    <appender name="ClientAppender" class="com.huawei.utbot.cpp.client.ClientLogAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd hh:mm:ss} | %20.25file:%3.100line |%p| %m%n</pattern>
        </encoder>
    </appender>

    <appender name="DummyServerAppender" class="com.huawei.utbot.cpp.dummyServer.DummyServerAppender">
        <encoder>
            <pattern>%date{dd MMM yyyy HH:mm:ss} | %20.25file:%3.100line |%p| %m%n</pattern>
        </encoder>
    </appender>

    <logger name="ClientLogger">
        <appender-ref ref="ClientAppender" />
        <level level="trace" />
    </logger>

    <logger name="DummyServerLogger">
        <appender-ref ref="DummyServerAppender" />
        <level level="trace" />
    </logger>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
