name: Publish UTBot as an archive

on:
  push:
    branches: [main]

jobs:
  matrix-prep:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Read config from matrix.json
        uses: actions/checkout@v2
      - id: set-matrix
        run: |
          TASKS=$(echo $(cat .github/workflows/matrix.json) | sed 's/ //g' )
          echo "::set-output name=matrix::$TASKS"

  publish:
    needs: matrix-prep
    strategy:
      matrix: ${{ fromJson(needs.matrix-prep.outputs.matrix) }}
    runs-on: ubuntu-${{ matrix.OPERATING_SYSTEM_TAG }}
    env:
      # Environment for the job and for the container is, sadly, duplicated
      # https://github.com/docker/compose/issues/1837
      VERSION: ${{ format('1.0.{0}', github.run_number) }}
      ARTIFACT_DIR: utbot-artifact
    container:
      image: ghcr.io/unittestbot/utbotcpp/base_env:${{ matrix.DOCKER_TAG }}
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
      env:
        UTBOT_ALL: /utbot_distr
        UTBOT_INSTALL_DIR: /utbot_distr/install
        GRPC_PATH: /utbot_distr/install
        CLI_PATH: /utbot_distr/cli
        VERSION: ${{ format('1.0.{0}', github.run_number) }}
        ARTIFACT_DIR: utbot-artifact
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: build VSCode plugin
        run: |
          chmod +x docker/action-scripts/build-vsix.sh
          ./docker/action-scripts/build-vsix.sh
      - name: build UTBot
        run: |
          chmod +x docker/action-scripts/build-utbot.sh
          ./docker/action-scripts/build-utbot.sh
        shell: bash
      - name: prepare UTBot release for Ubuntu
        run: |
          chmod +x docker/action-scripts/prepare-ubuntu-release.sh
          ./docker/action-scripts/prepare-ubuntu-release.sh
      - uses: actions/upload-artifact@v2
        with:
          name: utbot-release-${{ env.VERSION }}
          path: ${{ env.ARTIFACT_DIR }}